body {
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.container {
    margin-top: 50px;
}

.temporizador {
    margin-top: 50px;
    font-size: 72px;
    font-weight: bold;
    text-align: center;
}